@inherits Albatros.DNN.Modules.Balises.Common.BalisesWebPage

<div>
 <a href="@EditUrl("EditFlight")" class="btn btn-primary">Add Flight</a>
 <a href="@DetailView("EditFlight", "FlightId", -1)" class="btn btn-primary">Add Flight 2</a>
</div>

<script type="text/javascript">
 (function ($) {
  $(document).ready(function () {


  });
 }(jQuery, window.Sys));
</script>
