@import "autocomplete.less";
.ModAlbatrosBalisesC {
    .bg_iconcol {
        width: 40px;
        a span.text {
            margin-right: 0px;
        }
    }
    .bg_smallcol {
        width: 70px;
    }
    .bg_medcol {
        width: 140px;
    }
    .btn-default {
        color: #333;
    }
    .btn-info,
    .btn-warning,
    .btn-error,
    .btn-danger,
    .btn-success,
    .btn-primary {
        color: #fff;
    }
    .ab-audit-log {
        padding: 20px 0px;
        div {
            font-size: small;
            color: #888;
        }
    }
    .clickable {
        cursor: pointer;
    }
    .statusbuttons > span, .statusbuttons > a {
        margin-right: 10px;
    }
}
