@using DotNetNuke.Collections;
@inherits Albatros.DNN.Modules.Balises.Common.BalisesWebPage
@{
 int FlightId = -1;
 FlightId = Context.Request.QueryString.GetValueOrDefault("FlightId", FlightId);

}
<h1>Edit Flight</h1>
<div class="row">
 <div class="col-xs-12">
  <input type="file" class="form-control" data-action="upload" data-flight-id="@(FlightId)" data-uploading="uploading" data-finished="uploadFinished" />
 </div>
</div>

<div id="googleMap" style="width: 100%; height: 600px;"></div>

<table class="table">
 <thead>
 <tr>
  <th>Beacon</th>
 </tr>
 </thead>
 <tbody id="beaconList">
 </tbody>
</table>

<script type="text/javascript">
 (function ($, Sys) {
  $(document).ready(function () {

   var uploadInProgress = false;
   var allBeacons = [];
   var flightBeacons = [];
   var uploadedFile = '';

   var map = new google.maps.Map(document.getElementById("googleMap"), {
    center: new google.maps.LatLng(47.05, 6.85),
    zoom: 11,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    draggableCursor: 'grabbing'
   });

   moduleBalisesService.getBeacons(function (data) {
    allBeacons = data;
    $.each(data, function (index, item) {
     addPointToMap(map, item.Latitude, item.Longitude, item.Name, item.BeaconId);
    });
   });

   $('input[data-action="upload"]').on('change', handleFileSelect);

   function addPointToMap(map, lat, lng, msg, id) {
    var infowindow = new google.maps.InfoWindow({
     content: msg + '<br/><a href="#" data-action="addBeacon" data-id="' + id + '">Add</a>'
    });
    var marker = new google.maps.Marker({
     position: new google.maps.LatLng(lat, lng),
     map: map
    });
    google.maps.event.addListener(marker, 'click', function () {
     infowindow.open(map, marker);
     $('[data-action="addBeacon"]').unbind('click');
     $('[data-action="addBeacon"]').click(function () {
      alert($(this).attr('data-id'));
     });
    });
   }

   function handleFileSelect(evt) {
    window[$(this).attr('data-uploading')]();
    var files = evt.target.files;
    var that = this;
    moduleBalisesService.postFiles(files, function (data) {
     window[$(that).attr('data-finished')](data);
    });
   }

  });
 }(jQuery, window.Sys));

 function uploading() {
  uploadInProgress = true;
 }

 function uploadFinished(data) {
  uploadInProgress = false;
  uploadedFile = data.FilePath;
  flightBeacons = data.PassedBeacons;
  $('#beaconList').empty();
  $.each(flightBeacons, function (index, item) {
   $('#beaconList').append('<tr><td>' + item.Name + '</td></tr>');
  });
 }

</script>
